.popup-container {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px; 
  }
  
  .popup-container.show {
    display: block;
  }

  @media (max-width: 600px) {
    
    .popup-container {
      width: 80%;
      
    }
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .page {
    clear: both;
    opacity: 1;
  }
  
  .left-section {
    float: left;
  width: 50%; 
  }
  
  .right-section {
    float: right; 
  width: 50%; 
  }

  .formversion{
    
    display: flex;
  }

  .formversion.left{
    float: left;
    display: flex;
    width: 50%;
  }
  .formversion.right{
    
    display: flex;
    float: right;
    width: 50%;
  }

  
  .list{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
    padding: 5px;
    max-height: 195px; 
    overflow-y: auto; 
  }

  .button-container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.span{
  display: flex;
  width: 20px;
  margin-top: 4%;
  font-size: 20px;
}

  .project {
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
    display: flex;
    padding: "15px";
    border-radius: 3px;
    border: 1px solid;
  flex-direction: row;
}

.button1{
  background-color:aliceblue;
  min-width: 100px;
  border-radius: 3px;
  margin: 3px;
}

.page2{
  clear: both;
}

.searchexpert{
  display: flex;
}

.expertcomm{
  display: flex;
  justify-content: left;
  margin-top: 100px;
}

.table-container {
  margin-top: 10px;
  width: 50%;
  border-collapse: collapse;
}

.table-container table {
  width: 100%;
  border: 1px solid #ddd;
}

.table-container th, .table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-container th {
  background-color: #f2f2f2;
}

.ExpertPanel{
  display: flex;
}

.ExpertPanel.left{
  width: 70%;
}

.ExpertPanel.right{
  border: 1px solid salmon;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
}

.template-container {
  width: 70%;
  position: relative;
}


.template-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #c2c8d0;
  border-radius: 6px;
  box-sizing: border-box;
  color: #2d333a;
  font-family: inherit;
  font-size: 16px;
  height: 52px;
  line-height: 1.1;
  outline: none;
  padding: 0 16px;
  transition: box-shadow .2s ease-in-out, border-color .2s ease-in-out;
  width: 100%;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0;
}

.template-input:focus, .template-input:valid {
  border: 1px solid #1068a3;
  outline: none;
}

.template-input:focus-within {
  box-shadow: 1px #1068a3;
}

.template-input:focus + .template-label, .template-input:valid + .template-label, .template-input:not(:placeholder-shown) + .template-label {
  font-size: 14px;
  top: -12px;
  left: 10px;
  color: #1068a3;
  background-color: #fff;
}

.template-label {
  position: absolute;
  top: -12px;
  left: 16px;
  background-color: #fff;
  color: #6f7780;
  font-size: 16px;
  font-weight: 400;
  padding: 1px 6px;
  transition: font-size .15s ease-in-out, top .15s ease-in-out, padding .15s ease-in-out;
  white-space: nowrap;
  z-index: 1;
}


.evaluation-module {
  position: relative;
  margin-top: 20px;
  border: 1px solid #1068a3;
  border-radius: 5px;
  padding: 10px; /* добавлено для отступа внутри блока */
}

.evaluation-module label {
  position: absolute;
  top: -15px;
  left: 16px;
  background-color: #fff;
  color: #6f7780;
  font-size: 16px;
  font-weight: 400;
  padding: 1px 6px;
  transition: font-size .15s ease-in-out, top .15s ease-in-out, padding .15s ease-in-out;
  white-space: nowrap;
  z-index: 1;
}

.input-row {
  margin-top: 5px;
  display: flex;
  align-items: center; /* выравнивание элементов по вертикали */
}

.input-row > * {
  margin-top: 5px;
  margin-right: 10px; /* добавлено для отступа между элементами */
}

.setting-module {
  position: relative;
  margin-top: 20px;
  border: 1px solid #1068a3;
  border-radius: 5px;
  padding: 10px;
}

@media only screen and (min-width: 600px) {
  .setting-module {
      width: 90%; /* Уменьшаем ширину контейнера на мобильных устройствах */
      margin: 0 auto; /* Центрируем контейнер по горизонтали */
      margin-top: 20px;
  }
}

.setting-module label {
  position: absolute;
  top: -15px;
  left: 16px;
  background-color: #fff;
  color: #6f7780;
  font-size: 16px;
  font-weight: 400;
  padding: 1px 6px;
  transition: font-size .15s ease-in-out, top .15s ease-in-out, padding .15s ease-in-out;
  white-space: nowrap;
  z-index: 1;
}



.template-row {
  display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Отступы между элементами в строке */
    align-items: center;
    margin-top: 5px;
}


.template-row .button1 {
    margin-left: auto; /* Кнопка "Настройка" будет выталкиваться вправо */
}

.template-row .inline-elements {
  display: flex;
  align-items: center;
}

.template-row .inline-elements > * {
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  .template-row .inline-elements > * {
      margin-right: 10px; /* Изменяем отступы для мобильных устройств */
  }
}

.template-leftrightmodule {
  display: flex;
  justify-content: space-between; /* Распределение блоков по краям контейнера */
}

@media only screen and (min-width: 600px) {
  .template-leftrightmodule  {
      flex-direction: row; /* Возвращаем горизонтальное расположение на устройствах с шириной экрана более 600px */
  }
}

.template-leftmodule,
.template-rightmodule {
    flex: 1; /* Оба блока занимают равную ширину */
}

.template-row {
    margin-bottom: 10px; /* Отступ между строками */
}


